@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

.navbar {
   display: flex;
   justify-content: space-between;
   font-family: "Raleway", sans-serif;
   padding: 2.5% 3% 2% 3%;

   img {
      width: 9rem;
   }

   nav {
      display: flex;
      gap: 4rem;
      a {
         opacity: 0.8;
         text-decoration: none;
         color: white;

         &:hover {
            opacity: 1;
            font-weight: 700;
            text-decoration: underline;
         }
      }
   }
}

@media screen and (max-width: 450px) {
   .navbar {
      margin-top: 10px;
      font-size: 0.9rem;
      img {
         width: 6rem;
      }

      nav {
         gap: 2rem;
      }
   }
}
